@model NewsPlatform3.Models.Article

@{
    ViewData["Title"] = "Article";
    TempData["ArticleID"] = Model.Id;
}

<h2>Article</h2>

<p>Title: <b>@Model.Title</b></p>
<p>@Model.Content</p>
<p></p>
<p>Positive index: <b>@TempData["PositivityIndex"]</b></p>

@using (Html.BeginForm("AddComment", "Articles", FormMethod.Post))
{
    <span>Your comment </span> @Html.TextBox("yourComment")

    <button type="submit">Submit</button>
}
<p><b>Comments:</b></p>
<ul>
    @for(int i = 0; i < (int)TempData["CommQty"]; i++)
    {
        <li>
            @TempData["Comm"+i.ToString()]
        </li>
    }
</ul>